{% extends "base_home.html" %}
{% block content %}
    <h1>Escala Geral</h1>
    {% if missas %}
    <h1 class="mt-5 ml-2">Mensal: </h1>
    <div class="container mt-4">
        <ul class="list-group list-group-flush d-flex flex-row flex-wrap">
            {% for missa in missas %}
            <li class="list-group-item me-3 border mb-5 mr-2 d-flex flex-column">
                <div>
                    <strong>Data:</strong> {{ missa.data }} <br>
                    <strong>Horário:</strong> {{ missa.horario }} <br>
                    <strong>Pessoas:</strong>
                    <ul class="list-unstyled mb-2">
                        {% for pessoa in missa.pessoas.all %}
                        <li><i class="bi bi-arrow-right-circle-fill ml-5 mr-1"></i>{{ pessoa.username }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% if user.is_superuser %}
                <div class="d-inline-flex p-2 bd-highlight mt-auto">
                <a href="{% url 'editar-missa' missa.id %}" class="btn btn-warning text-white fw-bold btn-sm mt-auto w-50 mr-2">Editar</a>
                <a href="{% url 'excluir-missa' missa.id %}" class="btn btn-danger fw-bold btn-sm w-50">Excluir</a>
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <p>Não tem nenhuma missa para este mês.</p>
    {% endif %}
{% endblock content  %}