{% extends "base.html" %}
<title>{% block page_title %}Escala{% endblock page_title %}</title>

{% block content %}
    <nav class="navbar bg-warning mb-5">
        <div class="container-fluid">
        <a class="navbar-brand ms-5 text-white fw-bold" href="#">Escala Ministros</a>
        </div>
    </nav>
    <div class="d-flexjustify-content-center align-items-center text-center border w-50 mx-auto">

        <div class="card-body bg-white p-3 shadow-sm">
          <h5 class="card-title">Bem Vindo</h5>
          <p class="card-text mt-2"> Aqui você ministro podera encontrar sua escala mensal .</p>
          <a href="{% url "login" %}" class="btn btn-warning text-white fw-bold text-start">Entre</a>
          <a href="#" class="btn btn-warning text-white fw-bold ">Cadastre-se</a>
        </div>
      </div>
{% endblock content %}